# ESP-Hosted v3.0.9 coprocessor (MCU host, RPC v2)
CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP_HOSTED=y
# Initialize the CP after NVS and esp_event in app_main().
# CONFIG_ESP_HOSTED_AUTO_CALL_INIT_BEFORE_APP_MAIN is not set
CONFIG_ESP_HOSTED_CP=y
CONFIG_ESP_HOSTED_CP_FOR_MCU=y
CONFIG_ESP_HOSTED_CP_RPC_V2=y
CONFIG_ESP_HOSTED_CP_FEAT_WIFI=y
CONFIG_EH_TRANSPORT_CP_SPI=y
CONFIG_EH_TRANSPORT_CP_SPI_MODE_3=y
CONFIG_EH_TRANSPORT_CP_SPI_CHECKSUM=y
CONFIG_BT_ENABLED=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_eh_cp_ota_4m.csv"
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_NVS_ENABLED=y
