# STM32H723 board schematic, U_WIFI1 ESP32-C3-WROOM-02-N4 (4 MB).
# Series links on schematic: IO7=MOSI, IO2=MISO, IO6=CLK, IO10=CS,
# IO3=handshake, IO4=data ready, EN=STM32 PC5; IO9 is boot strap.
# STM32: MOSI=PD7, MISO=PA6, SCLK=PG11, CS=PC4, HS=PA2, DR=PA3.
CONFIG_EH_TRANSPORT_CP_SPI_HSPI_GPIO_MOSI=7
CONFIG_EH_TRANSPORT_CP_SPI_HSPI_GPIO_MISO=2
CONFIG_EH_TRANSPORT_CP_SPI_HSPI_GPIO_CLK=6
CONFIG_EH_TRANSPORT_CP_SPI_HSPI_GPIO_CS=10
CONFIG_EH_TRANSPORT_CP_SPI_GPIO_HANDSHAKE=3
CONFIG_EH_TRANSPORT_CP_SPI_GPIO_DATA_READY=4
CONFIG_EH_TRANSPORT_CP_SPI_GPIO_RESET=-1
